.header {
        background: linear-gradient(0deg, #22c1c3 0%, #fdbb2d 100%); 

}

.header ul{
    display:flex ;
    list-style: none;
 
}
 
.container-logo {
    width: 200px;
}
.container-logo img {
    margin-left: 10px;
    width: 100%;
}

/*.css-i4bv87-MuiSvgIcon-root {
    -webkit-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: darkblue;
    margin-left: 600px;
   flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}*/

.css-6hp17o-MuiList-root-MuiMenu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 5%;
}


