.item-Count {
    display: row;
    width: 100%;
    justify-content: center;
    text-align: center;
 
}

.item-Count h5 {
    color: #054723;
}

.item-Count p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 0px;
}